<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Raven/DataDir" value="~\Data" />
    <add key="Raven/AnonymousAccess" value="All" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- There's no sense to specify because of default limitation of 16Kb in http.sys (http://support.microsoft.com/kb/820129)-->
    <httpRuntime maxQueryStringLength="17000" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="DebugPage" path="Debug.aspx" verb="*" type="System.Web.UI.PageHandlerFactory"/>
      <add name="All" path="*" verb="*" type="Raven.Web.ForwardToRavenRespondersFactory, RavenDbRole" />
    </handlers>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxQueryString="17000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Analyzers" />
    </assemblyBinding>
  </runtime>
</configuration>